aiohttp==2.2.5
async-timeout==1.4.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
chardet==3.0.4
coala-utils==0.5.1
cssselect==1.0.1
docopt==0.6.2
fake-useragent==0.1.7
GoogleScraper==0.2.1
hues==0.2.2
idna==2.6
instaLooter==0.13.2
lxml==4.0.0
multidict==3.2.0
progressbar2==3.34.3
PyMySQL==0.7.11
python-dateutil==2.6.1
python-utils==2.2.0
PyYAML==3.12
requests==2.18.4
selenium==3.6.0
six==1.11.0
SQLAlchemy==1.1.14
twitterscraper==0.3.0
urllib3==1.22
yarl==0.13.0
